.carousel-container {
    width: 100%;
    max-width: 950px; /* You can adjust this value */

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Add shadow for attractiveness */
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 30px;
    /* overflow: hidden; Ensure images don't overflow the container */
    border: 5px solid rgba(0, 0, 0, 0.1); /* Add a subtle border */
    background-color: #f7f7f7; /* Background color for an elegant look */
}

body, html {
    overflow: auto; /* Ensure scrolling is enabled */

}

